body, html
  width: 100%
  height: 100%
  line-height: 1
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  color: #666

body *
  box-sizing: border-box

.full-screen
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0

.full-screen-a
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0

.all-center
  all-center()

.vertical-center
  vertical-center()

.horizontal-center
  horizontal-center()

.scroll
  scroll()

.scroll-z
  scroll(1)

.clearfix
  display: inline-block
  &.after
    display: block
    content: "."
    height: 0
    line-height: 0
    clear: both
    visibility: hidden

scaleBottomBorder(border-1px)
scaleBottomBorder(border-1px-x, scaleX)

.active:active
  background: rgba(0, 0, 0, 0.1) !important

.disabled
  background: #ddd;
  opacity: 0.8

.empty
  position: absolute
  left: 0
  top: 35%
  right: 0
  text-align: center

.show-ellipsis
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

/*common ui layer start*/
common-box-width = 70%
.ld-common-box
  z-index: 10000
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  .mask
    z-index: 100
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0.35)
  .ld-box
    z-index: 101
    all-center()
    width: common-box-width
    border-radius: border-radius-value
    overflow: hidden
    text-align: center
    background: #fff

.ld-fade-in
  animation fade-in-anim 350 backwards

.ld-fade-out
  animation fade-out-anim 350 forwards

.ld-dialog-enter
  animation dialog-enter-anim enter-duration-value backwards

.ld-dialog-leave
  animation dialog-leave-anim leave-duration-value forwards

@keyframes dialog-enter-anim
  0%
    opacity: 0
    transform: scale(1.15)
  100%
    opacity: 1
    transform: scale(1)

@keyframes dialog-leave-anim
  0%
    opacity: 1
  100%
    opacity: 0

@keyframes fade-in-anim
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes fade-out-anim
  0%
    opacity: 1
  100%
    opacity: 0

/*common ui layer end*/

/*transition classes start*/
.slide-enter-active
  transform: translateZ(0)
  transition: all 300ms

.slide-leave-active
  transform: translateZ(0)
  transition: all 300ms

.slide-enter, .slide-leave-to
  opacity: 0

.slide-enter
  transform: translateY(100%)

v-transition(
        fade,
        {
          transition: all 300ms
          transform: translateZ(0)
        },
        {opacity: 0}
)

/*transition classes end*/
